@-webkit-keyframes CARD-FLIP-AWAY {
  0%   { width: 67px; height: 67px; }
  100% { width: 0px; height: 70px; }
}

@-moz-keyframes CARD-FLIP-AWAY {
  0%   { width: 67px; height: 67px; }
  100% { width: 0px; height: 70px; }
}

@-o-keyframes CARD-FLIP-AWAY {
  0%   { width: 67px; height: 67px; }
  100% { width: 0px; height: 70px; }
}

@keyframes CARD-FLIP-AWAY {
  0%   { width: 67px; height: 67px; }
  100% { width: 0px; height: 70px; }
}

@-webkit-keyframes CARD-FLIP-IN {
  0%   { width: 0px; height: 70px; }
  100% { width: 67px; height: 67px; }
}

@-moz-keyframes CARD-FLIP-IN {
  0%   { width: 0px; height: 70px; }
  100% { width: 67px; height: 67px; }
}

@-o-keyframes CARD-FLIP-IN {
  0%   { width: 0px; height: 70px; }
  100% { width: 67px; height: 67px; }
}

@keyframes CARD-FLIP-IN {
  0%   { width: 0px; height: 70px; }
  100% { width: 67px; height: 67px; }
}

.card_flip_away {
  -webkit-animation-name:CARD-FLIP-AWAY;
  -moz-animation-name: CARD-FLIP-AWAY;
  -o-animation-name: CARD-FLIP-AWAY;
  animation-name: CARD-FLIP-AWAY;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s; 
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in; 
}

.card_flip_in {
  -webkit-animation-name:CARD-FLIP-IN;
  -moz-animation-name: CARD-FLIP-IN;
  -o-animation-name: CARD-FLIP-IN;
  animation-name: CARD-FLIP-IN;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s; 
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out; 
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card_flip_away {
  -webkit-animation-name:CARD-FLIP-IN;
 

-moz-animation-name: CARD-FLIP-AWAY;
  -o-animation-name: CARD-FLIP-AWAY;
  animation-name: CARD-FLIP-AWAY;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;

  -o-animation-duration: 0.5s; 
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in; 
}

.card_row {
  width: 100%;
}
.card_container {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.card {
  width: 67px;
  height: 67px;
}
